extends layout.pug

block title
  title Traimmu - Trandition + Immutable

block content

  .u-page-section.u-text-center
    .container
      #js-top-drawing

  .u-page-section
    .container
      h2.u-text-center 本当に商社やメガバンクや外資コンサルで
      h2.u-text-center あなたのやりたいことができますか？

      p.
        「自分には本当にやりたいことがないのか」をもう一度頭をリセットし、固定観念や色々なしがらみを取っ払って考えて直してみてほしいです。
        ホリエモンこと堀江貴文さんが昔どこかで、「みんなやりたいことがないんじゃなくて、絶対にできないと思って簡単に選択肢から外しているだけだ」と言っていました。
        まさにその通りだと思います。
        自分が想像している以上に、やれること、実現できることはもっとたくさんあります。
        会おうと思えばどんな人にだって会えるでしょう。
        これはこの一年近く、パートナーとともに事業を立ち上げ、運営していく中で身を持って感じたことです。

  .u-page-section
    .container
      h2 Our Service
    .container
      .six.columns
        h3.u-text-center InfrA
        p.
          キャリアの第一歩として僕がオススメするのが「実践型インターン」への参加です。
          実践型インターンで実際に社会に出て働いてみることで、自分に向いている仕事や足りない能力が見えてきます。
          社会でやりたいことを実現するためには何が必要なのか、どのように動けば良いのかというヒントも得られるでしょう。
          また、インターンであれば数ヶ月スパンで違う企業に移ることも可能なので、色々な業種や職種を経験することもできます。
          さらに実践型インターンの多くは有給なので、時間を切り売りするだけのアルバイトの代わりに経験やスキルを得ながらお金を稼ぐことも可能です。
          上手くスケジュールを調整すれば、大学の授業と両立させることも十分できます。
          これが、弊社がInfrAというサービスを通して実践型インターンシップを勧め、より多くの学生に普及させていこうと活動している理由です。

        a.button.button-primary(href="https://www.in-fra.jp", target="_blank") InfrAへ
      hr.service-splitter
      .six.columns
        h3.u-text-center co-media
        p.
          え？やりたいことが全然見つからないって？
          そんな人はco-mediaを読んで、色々な学生の活動や考え方に触れてみてください。
          「こんなことをしている学生がいるのか！」「学生でもこんなことができるんだ！」という発見がきっとあるはずです。

        a.button.button-primary.u-pull-right(href="http://www.co-media.jp/", target="_blank") co-mediaへ

  .u-page-section.u-bg-info
    .container
      h2 We’re changing how work
      p.
        僕の友人の多くは、1・2年生のときはサークルやバイト、遊びに明け暮れ、3年生になると短期インターンにいくつか参加し、そして無事に大手企業から内定をもらいました。
        内定をもらうと「遊べるのは学生のうちだけだから」と時間を惜しむようにまた遊びや旅行に明け暮れます。
        そして今、社会人として働く彼らの多くは口を揃えて「仕事つまらない」「土日が恋しい」「月曜日は憂鬱だ」と言います。
        近年の若手社員の離職率を見ても、おそらくこういったことを感じながら淡々と仕事をこなしている人が多いのでしょう。


  .u-page-section
    .container
      h2 We’ve assembled a great team
      include member-list.pug

  .u-page-section.u-bg-info
    .container
      h2 日本のこれからを支えるのは若い人材です。誰かが変えないといけない。
      p トレイムはその先頭に立ち変革をおこします。
      p At Traimmu, we’re building a place where everything from the most immediate details to the big picture are organized. With Traimmu, each person knows what they should be doing and why. This clarity, transparency, and focus allows teams to collaborate with less friction and produce great results.
      p We believe coordination should be as effortless between people as it is between our own brains and bodies, that people should be appreciated, and love what they do.

  .u-page-section
    .container
      h3 Media
      .media-list
        .media-group
          p.media-date 2015.11.12
          a.media-title Tech CrunchにてInfrAが掲載されました
        .media-group
          p.media-date 2015.11.12
          a.media-title Tech CrunchにてInfrAが掲載されました
      .sns-buttons
        .fb-share-button(data-href="https://www.traimmu.com", data-layout="button_count", data-size="small", data-mobile-iframe="true")
          .fb-like(data-href="https://www.traimmu.com/", data-layout="standard", data-action="like", data-size="small", data-show-faces="true", data-share="true")
